.captcha{
	height: 30px;
	width:160px;
	margin: 15px 0;
}
.captcha span{
	float:right;
	line-height: 30px;
	font-size:13pt;
	font-weight: bolder;
}
.captcha .check{
	border-radius: 3px;
	width:30px;
	height: 30px;
	border: 2px solid green;
	display:inline;
	position: absolute;
  cursor: pointer;
}

/*Styles for check animation*/
.check .wrapper {
  width: 25px;
  display: inline;
  margin: 4em auto 0;
}

.check .checkmark {
  stroke: green;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  -webkit-animation: dash 2s ease-out forwards;
          animation: dash 2s ease-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/*End check animation*/
